	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/alifglobalNewLogo.jpg">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Drilling with Foam and Polymers</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="css/linearicons.css">
			<link rel="stylesheet" href="css/font-awesome.min.css">
			<link rel="stylesheet" href="css/bootstrap.css">
			<link rel="stylesheet" href="css/magnific-popup.css">
			<link rel="stylesheet" href="css/nice-select.css">	
			<link rel="stylesheet" href="css/hexagons.min.css">							
			<link rel="stylesheet" href="css/animate.min.css">
			<link rel="stylesheet" href="css/owl.carousel.css">
			<link rel="stylesheet" href="css/main.css">
			<link rel="stylesheet" href="css/custom_css/content_page.css">
		</head>
		<body>	
			  <% include header%>
			  <!-- #header -->

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								DTH Drilling Information
							</h1>	
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start blog-posts Area -->
			<section class="blog-posts-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 post-list blog-post-list">
							<div class="single-post">
								<!--<img class="img-fluid" src="img/products/DTHDrilling/dth_intro2.jpg" alt="">-->
								
								<a href="#">
									<h1>
										Drilling with foam and polymers
									</h1>
								</a>
								
								<p>Drilling with foam and polymers has been adVantages and may improve drilling in certain ground conditions. Some beneﬁts include:</p>
									
								<ol>
									<li>
										Ability to clean the hole with low annular velocity using a quality 
										foam with the correct mixture may allow for sufﬁcient hole cleaning with
										the annular velocity as low as 150 feet (46 m) per minute
									</li>
									<li>
										Utilizing a strong faom/polymer mixture, low stability formations can be
										drilled with minimal borehole erosion. This mixture reduces the need for
										high annular velocity and will cuttings during rod changes. The polymer foam will form a ﬁlter cake on borehole wall, reduce hole collapse 
										and inhibit swelling of clays.
									</li>
									<li>Foam injection also aids in drilling in borehole where water
										intrusion creates high back pressures. The foam mixture will reduce the
										head pressure lowering the peak unloading pressure and operating
										pressure.
									</li>
								</ol>

								
								<h2 style="padding:20px 20px 20px 0px">Foam Mixtures</h2>
							
									
									<p class="bodyPara">LIGHT MIXTURES CREATES LARGE BUBBLES LIKE
														A BUBBLE BATH
									</p>
									
						           <p class="bodyPara">HEAVY MIXTURE CREATES SMALL BUBBLES LlKE SHAVING CREAM
									</p>
								
								<p>A heavy foam mixture will create the best cutting carrying
									capacities and low quality foams will have tendency to break
									down quickly in the hole allowing cutting to fall out of the
									solution.
								</p>
								
								<p class="bodyPara">
								Note: When ﬁnished drilling with foam, it is necessary to rinse all drilling tools with fresh
								clean water and lubricate them properly. Prolonged exposure to the atmosphere
								creates a corrosive reaction between the steel and the foam. Corrosion stress risers are
								a common cause of  drilling tools failures.
								</p>
						           
								</div>
								</div>
								
								
						<% include sidebar %>
					</div>
				</div>	
			</section>
			<!-- End blog-posts Area -->
			
			
				
			<!-- start footer Area -->		
			<% include footer%>
			<!-- End footer Area -->	

			<script src="js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="js/vendor/bootstrap.min.js"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="js/easing.min.js"></script>			
			<script src="js/hoverIntent.js"></script>
			<script src="js/superfish.min.js"></script>	
			<script src="js/jquery.ajaxchimp.min.js"></script>
			<script src="js/jquery.magnific-popup.min.js"></script>	
			<script src="js/owl.carousel.min.js"></script>	
			<script src="js/hexagons.min.js"></script>							
			<script src="js/jquery.nice-select.min.js"></script>	
			<script src="js/jquery.counterup.min.js"></script>
			<script src="js/waypoints.min.js"></script>							
			<script src="js/mail-script.js"></script>	
			<script src="js/main.js"></script>	
		</body>
	</html>



