	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/newLogo.png">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>DTH Drilling</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="css/linearicons.css">
			<link rel="stylesheet" href="css/font-awesome.min.css">
			<link rel="stylesheet" href="css/bootstrap.css">
			<link rel="stylesheet" href="css/magnific-popup.css">
			<link rel="stylesheet" href="css/nice-select.css">	
			<link rel="stylesheet" href="css/hexagons.min.css">							
			<link rel="stylesheet" href="css/animate.min.css">
			<link rel="stylesheet" href="css/owl.carousel.css">
			<link rel="stylesheet" href="css/main.css">
			<link rel="stylesheet" href="css/custom_css/content_page.css">
		</head>
		<body>	
			  <% include header%>
			  <!-- #header -->

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								DTH Drilling
							</h1>	
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start blog-posts Area -->
			<section class="blog-posts-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 post-list blog-post-list">
							<div class="single-post">
								<!--<img class="img-fluid" src="img/products/DTHDrilling/dth_intro2.jpg" alt="">-->
								
								<a href="#">
									<h1>
										DTH Drilling Introduction
									</h1>
								</a>
								<div class="content-wrap">
									<p>
										A down-the-hole drill, usually called DTH by most professionals, is basically a mini jackhammer screwed on the bottom of a drill string. The fast hammer action breaks hard rock into small flakes and dust and is blown clear by the air exhaust from the DTH hammer. The DTH hammer is one of the fastest ways to drill hard rock. Now smaller portable drillcat drilling rigs with DTH hammers can drill as fast as much larger truck rigs with this newer technology. 
									</p>
									
									<p>Before beginning to drill, there are several factors that must be taken into consideration in order to select the appropriate down hole hammer.</p>
									<h3>1. Hole Size:</h3>
									<p class="bodyPara">In most instances, the outside diameter of the hammer closet to the hole size being drilled should be used for most efficient drilling. This reduces the instance of the collapse and makes cleaning the hole easier. One needs to take into account that there must be sufficient annular area around the hammer to pass the drilled cuttings. This normally will supply the most efficient operating conditions. The hammer selection chart on the following page display N-120 hammers and their corresponding bit range.</p>
									
									<h3>2. Air consumption:</h3>
									<p class="bodyPara">The amount of compressed air available must be taken into consideration when using a down hole hammer. Different size hammers require different volumes and pressures in order to properly operate. Generally, as the size of the hammer increases, higher volume and lower pressure is needed for peak performance. Be sure to refer to the air consumption chart.</p>
									
									<h3>3. Big capacities:</h3>
									<p class="bodyPara">The larger the bit and hammer, the greater the rotational Torque and feed/pull back requirements become. Do not exceed the drill rigs Capacity. </p>
									
									<hr>
									<h2>Bit face Selection:</h2>
									
									<div class="responsive col-lg-4">
									   <div class="gallery">
									      
									      <img src="img/products/DTHDrilling/concave.jpg" alt="Concave" width="600" height="400" class="img-responsive">
									      </a>
									      <div class="desc">
									      	<h3 class="imgDesc">Concave</h3>
									      	<ol>
									      		<li>1. Suitable for drilling in all directions</li>
									      		<li>2. Cone shaped depression in the face has centering effect for straighter holes</li>
									      		<li>3. Well suited for short to medium formations</li>
									      	</ol>
									      </div>
									   </div>
									</div>
									<div class="responsive col-lg-4">
									   <div class="gallery">
									      
									      <img src="img/products/DTHDrilling/flat.jpg" alt="Flat" width="600" height="400" class="img-responsive">
									      </a>
									      <div class="desc">
									      	<h3 class="imgDesc">Flat</h3>
									      	<ol>
									      		<li>1. Faces slots help eliminate bit pluggingin softer zone.</li>
									      		<li>2. More carbide to surface contact for better rock fracture.</li>
									      		<li>3. Well suited for medium to hard formations.</li>
									      	</ol>
									      </div>
									   </div>
									</div>
									<div class="responsive col-lg-4">
									   <div class="gallery">
									      	
									      <img src="img/products/DTHDrilling/convex.jpg" alt="Convex" width="600" height="400" class="img-responsive">
									      </a>
									      <div class="desc">
									      	<h3  class="imgDesc">Convex</h3>
									      	<ol>
									      		<li>1. Fast penetration rates</li>
									      		<li>2. Face design allows for increased body support for guage carbide.</li>
									      		<li>3. Hard and abrasive formations</li>
									      	</ol>
									      </div>
									   </div>
									</div>
									

								</div>
								</div>
								</div>
							<% include sidebar %>
					</div>
				</div>	
			</section>
			<!-- End blog-posts Area -->
			
			
				
			<!-- start footer Area -->		
			<% include footer%>
			<!-- End footer Area -->	

			<script src="js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="js/vendor/bootstrap.min.js"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="js/easing.min.js"></script>			
			<script src="js/hoverIntent.js"></script>
			<script src="js/superfish.min.js"></script>	
			<script src="js/jquery.ajaxchimp.min.js"></script>
			<script src="js/jquery.magnific-popup.min.js"></script>	
			<script src="js/owl.carousel.min.js"></script>	
			<script src="js/hexagons.min.js"></script>							
			<script src="js/jquery.nice-select.min.js"></script>	
			<script src="js/jquery.counterup.min.js"></script>
			<script src="js/waypoints.min.js"></script>							
			<script src="js/mail-script.js"></script>	
			<script src="js/main.js"></script>	
		</body>
	</html>



