	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/alifglobalNewLogo.jpg">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Effect of water, temperature and pressure</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="css/linearicons.css">
			<link rel="stylesheet" href="css/font-awesome.min.css">
			<link rel="stylesheet" href="css/bootstrap.css">
			<link rel="stylesheet" href="css/magnific-popup.css">
			<link rel="stylesheet" href="css/nice-select.css">	
			<link rel="stylesheet" href="css/hexagons.min.css">							
			<link rel="stylesheet" href="css/animate.min.css">
			<link rel="stylesheet" href="css/owl.carousel.css">
			<link rel="stylesheet" href="css/main.css">
			<link rel="stylesheet" href="css/custom_css/content_page.css">
		</head>
		<body>	
			  <% include header%>
			  <!-- #header -->

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								DTH Drilling Information
							</h1>	
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start blog-posts Area -->
			<section class="blog-posts-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 post-list blog-post-list">
							<div class="single-post">
								<!--<img class="img-fluid" src="img/products/DTHDrilling/dth_intro2.jpg" alt="">-->
								
								<a href="#">
									<h1>
										Effect under Water, Temperature and Altitude
									</h1>
								</a>
								
								<h2 style="padding:20px 20px 20px 0px">Operating under water</h2>
								<div class="content-wrap">
									<p>Drilling under high heads of creates different parameters
                                        concerning pressure requirements. When a hammer is operating under a
                                        head of water sufficient pressure is needed to unload the hole. This is
                                        referred to as “peak unloading pressure” and is calculated by the depth of
                                        the water in the hole. 
                                    </p>
									
									
									<p>One foot of water in the hole is equal to 0.434 psi (0.03 bar).
                                                        Therefore, if there is 100 feet (30.5 m) of water in the hole there will be
                                                        43.4 psi (3 bar) of back pressure.
                                    </p>
									
									
									<p>Once the head of water is broken, the pressure will drop to the
                                                        drilling operating pressure. If the inﬂux of water into the hole is great, the
                                                        drill operating pressure will increase and the drill performance will be
                                                        reduced. In some applications it may be necessary to utilize a high
                                                        pressure booster compressor to continue drilling.
                                    </p>
                                                        									
									<h3 style="padding:20px 20px 20px 0px">Useful Metrics</h3>
									
									<h5>Head pressure</h5>
									<h5>Foot of head = 0.434 psi</h5>
									<h5>0.305 Meters of Head = 0.03 bar</h5>
									
									<hr>
									
									<h2 style="padding:20px 20px 20px 0px">Effect of altitude and temperature</h2>
									
									<p>Altitude and Temperature have a direct effect on the molecular struct of air. An adjustment In CFM (1/SEC) must be made to accommodate such changes and to provide for eﬂicient drilling. </p>
									
						            <p>At high altitudes there are less molecules in a given molecule of air than In lower altitudes. Therefore, when compressor displaces a given volume at higher altitude, the air will be less dense. When less dense air is supplied to a down hole hammer a lower operating pressure will be a result.</p>
						            
						            <p class="bodyPara">For example: operating a down hole hammer at 15,000 feet (4572m) of elevation at a temperature of 50°F (10°C) a down hole hammer would require at least 75% more volume than at sea level to operate at the same pressure.</p>
						            <p>High ambient temperature has much the same effect on air. At high
                                        ambient temperatures the air becomes less dense and at low 
                                        temperatures the air becomes more dense. These changes also require an 
                                        adjustment of the air supply.
                                    </p>
                                    
						            <p class="bodyPara">For example: Operating a down hole hammer at sea level with the
                                        ambient temperature at 100°F (38°C) versus 0°F (-18°C) would almost require
                                        20% more volume to operate at the same pressure.
                                    </p>
                                    
                                    <p>The following table may be used a reference to calculate th
                                    to maintain a given operating pressure at different altitudes an
                                    temperatures.
                                    </p>
								</div>
								</div>
								</div>
								
						<% include sidebar%>
					</div>
				</div>	
			</section>
			<!-- End blog-posts Area -->
			
			
				
			<!-- start footer Area -->		
			<% include footer%>
			<!-- End footer Area -->	

			<script src="js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="js/vendor/bootstrap.min.js"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="js/easing.min.js"></script>			
			<script src="js/hoverIntent.js"></script>
			<script src="js/superfish.min.js"></script>	
			<script src="js/jquery.ajaxchimp.min.js"></script>
			<script src="js/jquery.magnific-popup.min.js"></script>	
			<script src="js/owl.carousel.min.js"></script>	
			<script src="js/hexagons.min.js"></script>							
			<script src="js/jquery.nice-select.min.js"></script>	
			<script src="js/jquery.counterup.min.js"></script>
			<script src="js/waypoints.min.js"></script>							
			<script src="js/mail-script.js"></script>	
			<script src="js/main.js"></script>	
		</body>
	</html>



