	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/newLogo.png">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Hammer Storage</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="css/linearicons.css">
			<link rel="stylesheet" href="css/font-awesome.min.css">
			<link rel="stylesheet" href="css/bootstrap.css">
			<link rel="stylesheet" href="css/magnific-popup.css">
			<link rel="stylesheet" href="css/nice-select.css">	
			<link rel="stylesheet" href="css/hexagons.min.css">							
			<link rel="stylesheet" href="css/animate.min.css">
			<link rel="stylesheet" href="css/owl.carousel.css">
			<link rel="stylesheet" href="css/main.css">
			<link rel="stylesheet" href="css/custom_css/content_page.css">
		</head>
		<body>	
			  <% include header%>
			  <!-- #header -->

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								DTH Drilling Information
							</h1>	
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start blog-posts Area -->
			<section class="blog-posts-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 post-list blog-post-list">
							<div class="single-post">
								<!--<img class="img-fluid" src="img/products/DTHDrilling/dth_intro2.jpg" alt="">-->
								
								<a href="#">
									<h1>
										Hammer Storage
									</h1>
								</a>
								
								<p>When storing a down hole hammer, it is important to take the
									necessary steps in order to insure a smooth operation aﬁer restarting.</p>
									
								<p>When the hole is completed and the hammer is to be inactive for
									several weeks or longer, the following steps should be followed.</p>
									
								<ol>
									<li>
										Each drill rod should be blown clear of all water‘ During this process,
										turn on the [rt—line lubricator and blow until the rock drill oil can be
										seen from the bottom end of each drill rod.
									</li>
									<li>
										Each rod (pin and box end) should be wiped clean and capped to
										prevent foreign contaminates from sticking to the connector ends.
									</li>
								</ol>

								
								<h2 style="padding:20px 20px 20px 0px">Short term storage</h2>
								<p>When a down hole hammer will be stored for only a short period
									of time, the following steps should be take:
								</p>
								
								<ol>
									<li>Blow the hammer clear of all water.</li>
									<li>Pour one quart (1 litre ) of rock drill oil into the backhead. See
										lubrication for suitable rock drill oils.</li>
									<li>Turn the air on and cycle for 10 seconds. This wills lubricate the
										internal parts.</li>
									<li>Store the hammer horizontally in a dry environment.</li>
								</ol>
								
							
									<h2 style="padding:20px 20px 20px 0px">Long term storage</h2>
									
									<p>When a down hole hammer will be stored for a period of time,
										the following steps should be take:</p>
										
									<ol>
										<li>Blow the hammer clear of all water.</li>
										<li>If at all possible, the backhead and chuck should be broken loose on the drill rig, this is much easier than trying to do so in the shop.</li>
										<li>Dissemblethe hammer.</li>
										<li>Inspect and wipe all the parts clean.</li>
										<li>Lubricate all the internal parts with rock drill oil
											for suitable rock drill oils. See lubrication for suitable rock drill oils</li>
										<li>Cap the backhead and chuck ends.</li>
										<li>Store the hammer horizontally in a dry environment</li>
									</ol>
									
									<h2 style="padding:20px 20px 20px 0px">Restarting</h2>
									
						            <p>Before restarting the hammer after prolonged periods of inactivity
														disassemble and inspect all internal hammer parts.
									</p>
									
									<p>If any internal hammer parts have oxidized, use an emery cloth
										to polish each part. Wash each hammer parts, wipe dry, relubricate with
										rock drill oil and reassemble the hammer.
									</p>
									
									<p class="bodyPara">Note: Failure to check internal parts before restarting the hammer may
														Cause serious damage to the hammer.
									</p>
						           
								</div>
								</div>
								
								
						<% include sidebar %>
					</div>
				</div>	
			</section>
			<!-- End blog-posts Area -->
			
			
				
			<!-- start footer Area -->		
			<% include footer%>
			<!-- End footer Area -->	

			<script src="js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="js/vendor/bootstrap.min.js"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="js/easing.min.js"></script>			
			<script src="js/hoverIntent.js"></script>
			<script src="js/superfish.min.js"></script>	
			<script src="js/jquery.ajaxchimp.min.js"></script>
			<script src="js/jquery.magnific-popup.min.js"></script>	
			<script src="js/owl.carousel.min.js"></script>	
			<script src="js/hexagons.min.js"></script>							
			<script src="js/jquery.nice-select.min.js"></script>	
			<script src="js/jquery.counterup.min.js"></script>
			<script src="js/waypoints.min.js"></script>							
			<script src="js/mail-script.js"></script>	
			<script src="js/main.js"></script>	
		</body>
	</html>



