	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/newLogo.png">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>DTH Hammer</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="css/linearicons.css">
			<link rel="stylesheet" href="css/font-awesome.min.css">
			<link rel="stylesheet" href="css/bootstrap.css">
			<link rel="stylesheet" href="css/magnific-popup.css">
			<link rel="stylesheet" href="css/nice-select.css">	
			<link rel="stylesheet" href="css/hexagons.min.css">							
			<link rel="stylesheet" href="css/animate.min.css">
			<link rel="stylesheet" href="css/owl.carousel.css">
			<link rel="stylesheet" href="css/main.css">
			<link rel="stylesheet" href="css/custom_css/content_page.css">
		</head>
		<body>	
			  <% include header%>
			  <!-- #header -->

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								DTH Hammer
							</h1>	
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<section class="blog-posts-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 post-list blog-post-list">
							<div class="single-post">
								<!--<img class="img-fluid" src="img/products/DTHDrilling/dth_intro2.jpg" alt="">-->
								
								<a href="#">
									<h1>
										DTH Hammer
									</h1>
								</a>
								<div class="content-wrap">
									<p>
										A good quality and durable DTH hammer is crucial for the success of any drilling project. Here are the specifications and features of our hammer.
									</p>
									
									<h3>Features:</h3>
									<ol>
										<li>For use in any hard rock application •Valveless down hole hammer design</li>
										<li>Valveless down hole hammer design</li>
										<li>Designed to operate at pressures to 250 PSI (17.0 BAR) </li>
										<li>Twelve splined chuck/bit design provides increased contact area </li>
										<li>Suitable for drilling & gas wells, water wells, piling holes, elevator shaft holes and other construction jobs where large volume rock excavation is required </li>
									</ol>
									
									<figure>
										
										<img src="img/products/hammer/hammerPic.jpg" width="720px" alt="...">
										<!--<figcaption>Fig.1 - Trulli, Puglia, Italy.</figcaption>-->
										<figcaption><i style="text-align:center">Picture not to scale. Actual product may differ</i></figcaption>
									</figure>
									
									
									
									
									
									<h3 style="padding-top:20px">Specifications:</h3>
									<ol>
										<li>Diameter:</li>
										<li>Bore:</li>
										<li>Stroke:</li>
										<li>Weight of Hammer only:</li>
										<li>Length (Shoulder to Shoulder):</li>
										<li>Length (Shoulder to Bitface):</li>
										<li>A.P.I Reg. Threads:</li>
										<li>1300 blows per minute at 250 PSI (17.0 Bar)</li>
										<li>Suitable for drilling holes from 11-7/8" 3017-1/2 (302 mm to 445 mm) in diameter </li>
										<li>Accepts N11/N120 bit shank </li>
									</ol>
									
									

								</div>
								</div>
								</div>
								</div>

                            <!-- Start nav Area -->
                            <section class="nav-area pt-50 pb-100">
                                <div class="container">
                                    <div class="row justify-content-between">
                                        <div class="col-sm-6 nav-left justify-content-start d-flex">
                                            <div class="thumb">
                                                <img src="" alt="">
                                            </div>
                                            <div class="post-details">
                                                <p>Prev Product</p>
                                                <h4 class="text-uppercase"><a href="#">DTH Hammer</a></h4>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 nav-right justify-content-end d-flex">
                                            <div class="post-details">
                                                <p>Next Product</p>
                                                <h4 class="text-uppercase"><a href="/hammerBit">Hammer Bits</a></h4>
                                            </div>             
                                            <div class="thumb">
                                                <img src="" alt="">
                                            </div>                         
                                        </div>
                                    </div>
                                </div>    
                            </section>
                            <!-- End nav Area -->

                           
                            <!-- Start commentform Area -->
                            <section class="commentform-area pt-80">
                                <div class="container">
                                    <h5 class="pb-50">Leave a Reply</h5>
                                    <div class="row flex-row d-flex">
                                        <div class="col-lg-4 col-md-6">
                                            <input name="name" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mb-20 form-control" required="" type="text">
                                            <input name="email" placeholder="Enter your email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your email'" class="common-input mb-20 form-control" required="" type="email">
                                            <input name="Subject" placeholder="Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your Subject'" class="common-input mb-20 form-control" required="" type="text">

                                        </div>
                                        <div class="col-lg-8 col-md-6">
                                            <textarea class="form-control mb-10" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                                            <a class="primary-btn mt-20" href="#">send</a>
                                        </div>
                                    </div>
                                </div>    
                            </section>
                            <!-- End commentform Area -->


							</div>																		
						</div>
						</div>
					</div>
				</div>	
			</section>
			<!-- End blog-posts Area -->
				
			<!-- start footer Area -->		
			<% include footer%>
			<!-- End footer Area -->	

			<script src="js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="js/vendor/bootstrap.min.js"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="js/easing.min.js"></script>			
			<script src="js/hoverIntent.js"></script>
			<script src="js/superfish.min.js"></script>	
			<script src="js/jquery.ajaxchimp.min.js"></script>
			<script src="js/jquery.magnific-popup.min.js"></script>	
			<script src="js/owl.carousel.min.js"></script>	
			<script src="js/hexagons.min.js"></script>							
			<script src="js/jquery.nice-select.min.js"></script>	
			<script src="js/jquery.counterup.min.js"></script>
			<script src="js/waypoints.min.js"></script>							
			<script src="js/mail-script.js"></script>	
			<script src="js/main.js"></script>	
		</body>
	</html>



