	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/alifglobalNewLogo.jpg">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Hammer Bits</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="css/linearicons.css">
			<link rel="stylesheet" href="css/font-awesome.min.css">
			<link rel="stylesheet" href="css/bootstrap.css">
			<link rel="stylesheet" href="css/magnific-popup.css">
			<link rel="stylesheet" href="css/nice-select.css">	
			<link rel="stylesheet" href="css/hexagons.min.css">							
			<link rel="stylesheet" href="css/animate.min.css">
			<link rel="stylesheet" href="css/owl.carousel.css">
			<link rel="stylesheet" href="css/main.css">
			<link rel="stylesheet" href="css/custom_css/content_page.css">
		</head>
		<body>	
			  <% include header%>
			  <!-- #header -->

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Hammer Bits
							</h1>	
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<section class="blog-posts-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 post-list blog-post-list">
							<div class="single-post">
								<!--<img class="img-fluid" src="img/products/DTHDrilling/dth_intro2.jpg" alt="">-->
								
								<a href="#">
									<h1>
										Hammer Bits
									</h1>
								</a>
								<div class="content-wrap">
									<p>We also supply hammer bits in retail and bulk to fulfill out customers' needs. Hammer bits are used to supplement drilling as hammer bits in use wears out and needs replacement.
									</p>
									
									
									<h3>Specifications:</h3>
									<br></br>
									<table class="table">
									  <thead>
									    <tr>
									      <th scope="col">#</th>
									      <th scope="col">Diameter</th>
									      <th scope="col">Weight</th>
									      <th scope="col">Face Available</th>
									    </tr>
									  </thead>
									  <tbody>
									    <tr>
									      <th scope="row">1</th>
									      <td>11-7/8" (302mm)</td>
									      <td>384 lbs (174KG)</td>
									      <td>Concave</td>
									    </tr>
									    <tr>
									      <th scope="row">2</th>
									      <td>12-1/4" (312mm)</td>
									      <td>386lbs (175KG)</td>
									      <td>Concave</td>
									    </tr>
									    <tr>
									      <th scope="row">3</th>
									      <td>12-38" (315mm}</td>
									      <td>394lbs (179KG)</td>
									      <td>Concave</td>
									    </tr><tr>
									      <th scope="row">4</th>
									      <td>13" (331mm)</td>
									      <td>400lbs (181KG)</td>
									      <td>Concave</td>
									    </tr><tr>
									      <th scope="row">5</th>
									      <td>14" (356mm)</td>
									      <td>442lbs (200KG)</td>
									      <td>Concave</td>
									    </tr><tr>
									      <th scope="row">6</th>
									      <td>15" (381mm)</td>
									      <td>478lbs (217KG)</td>
									      <td>Concave</td>
									    </tr><tr>
									      <th scope="row">7</th>
									      <td>16" (406mm)</td>
									      <td>545 lbs (247KG)</td>
									      <td>Concave</td>
									    </tr><tr>
									      <th scope="row">8</th>
									      <td>17-1/2" (445mm)</td>
									      <td>571lbs (259KG)</td>
									      <td>Concave</td>
									    </tr>
									  </tbody>
									</table>
									
									<div class="row">
										<div class="col-lg-6">
											<h3>Features:</h3>
											<ol>
												<li>Concave face design for advanced hole cleaning capacities</li>
												<li>3/4" (19mm) diameter carbide buttons throughout face</li>
												<li>Several grades and types of carbide are available</li>
												<li>Side wear buttons are available as an option</li>
												<li>Other bit sizes may  be available upon request</li>
											</ol>
										</div>
										<div class="col-lg-6">
											<figure>
												<img src="img/products/hammerBit/bitPic.jpg" width="350px" alt="...">
												<figcaption> Image not to scale. Actual product may differ </figcaption>
											</figure>
											
										</div>
									</div>
									
									
								</div>
								</div>
								</div>
								</div>

                            <!-- Start nav Area -->
                            <section class="nav-area pt-50 pb-100">
                                <div class="container">
                                    <div class="row justify-content-between">
                                        <div class="col-sm-6 nav-left justify-content-start d-flex">
                                            <div class="thumb">
                                                <img src="g" alt="">
                                            </div>
                                            <div class="post-details">
                                                <p>Prev Product</p>
                                                <h4 class="text-uppercase"><a href="/hammer">DTH Hammer</a></h4>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 nav-right justify-content-end d-flex">
                                            <div class="post-details">
                                                <p>Next Product</p>
                                                <h4 class="text-uppercase"><a href="#">Hammer Bits</a></h4>
                                            </div>             
                                            <div class="thumb">
                                                <img src="" alt="">
                                            </div>                         
                                        </div>
                                    </div>
                                </div>    
                            </section>
                            <!-- End nav Area -->

                           
                            <!-- Start commentform Area -->
                            <section class="commentform-area pt-80">
                                <div class="container">
                                    <h5 class="pb-50">Leave a Reply</h5>
                                    <div class="row flex-row d-flex">
                                        <div class="col-lg-4 col-md-6">
                                            <input name="name" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mb-20 form-control" required="" type="text">
                                            <input name="email" placeholder="Enter your email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your email'" class="common-input mb-20 form-control" required="" type="email">
                                            <input name="Subject" placeholder="Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your Subject'" class="common-input mb-20 form-control" required="" type="text">

                                        </div>
                                        <div class="col-lg-8 col-md-6">
                                            <textarea class="form-control mb-10" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                                            <a class="primary-btn mt-20" href="#">send</a>
                                        </div>
                                    </div>
                                </div>    
                            </section>
                            <!-- End commentform Area -->


							</div>																		
						</div>
						</div>
					</div>
				</div>	
			</section>
			<!-- End blog-posts Area -->
				
			<!-- start footer Area -->		
			<% include footer%>
			<!-- End footer Area -->	

			<script src="js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="js/vendor/bootstrap.min.js"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="js/easing.min.js"></script>			
			<script src="js/hoverIntent.js"></script>
			<script src="js/superfish.min.js"></script>	
			<script src="js/jquery.ajaxchimp.min.js"></script>
			<script src="js/jquery.magnific-popup.min.js"></script>	
			<script src="js/owl.carousel.min.js"></script>	
			<script src="js/hexagons.min.js"></script>							
			<script src="js/jquery.nice-select.min.js"></script>	
			<script src="js/jquery.counterup.min.js"></script>
			<script src="js/waypoints.min.js"></script>							
			<script src="js/mail-script.js"></script>	
			<script src="js/main.js"></script>	
		</body>
	</html>



