<header id="header" id="home">
		  		<div class="header-top">
		  			<div class="container">
				  		<div class="row">
				  			<div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
				  				<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
									<li><a href="#"><i class="fa fa-behance"></i></a></li>
				  				</ul>
				  			</div>
				  			<div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
				  				<a href="tel:+880 012 3654 896">+1 267 738 0526</a>
				  				<a href="mailto:support@colorlib.com">alifusa@alifglobal.com</a>				
				  			</div>
				  		</div>			  					
		  			</div>
				</div>
			    <div class="container main-menu">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="/"><img src="img/newLogo.png" style="width:37px" alt="" title="logo" /></a>
				        <h2 style="float:right; font-size: 33px"><a href="/" style="color:black">Alif Global</a></h2>
				        
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li class="menu-active"><a href="/home">Home</a></li>
				          <li><a href="/about">About</a></li>
				          <!--<li><a href="services.html">Service</a></li>-->
				          <!--<li><a href="projects.html">Projects</a></li>-->
				          <li class="menu-has-children"><a href="/hammer">Products</a>
				            <ul>
				              <li><a href="/hammer">DTH Hammer</a></li>
				              <li><a href="/hammerBit">Hammer Bits</a></li>
				            </ul>
				          </li>						          
				          <li><a href="/contact">Contact</a></li>
			              <li><a href="/dthDrilling">DTH Drilling</a></li>
				        </ul>
				      </nav><!-- #nav-menu-container -->		    		
			    	</div>
			    </div>
</header>