	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/alifglobalNewLogo.jpg">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Rotation Speed</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="css/linearicons.css">
			<link rel="stylesheet" href="css/font-awesome.min.css">
			<link rel="stylesheet" href="css/bootstrap.css">
			<link rel="stylesheet" href="css/magnific-popup.css">
			<link rel="stylesheet" href="css/nice-select.css">	
			<link rel="stylesheet" href="css/hexagons.min.css">							
			<link rel="stylesheet" href="css/animate.min.css">
			<link rel="stylesheet" href="css/owl.carousel.css">
			<link rel="stylesheet" href="css/main.css">
			<link rel="stylesheet" href="css/custom_css/content_page.css">
		</head>
		<body>	
			  <% include header%>
			  <!-- #header -->

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								DTH Drilling Information
							</h1>	
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start blog-posts Area -->
			<section class="blog-posts-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 post-list blog-post-list">
							<div class="single-post">
								<!--<img class="img-fluid" src="img/products/DTHDrilling/dth_intro2.jpg" alt="">-->
								
								<a href="#">
									<h1>
										Rotation Speed
									</h1>
								</a>
								
								<p>Correct rotation speed has direct effect on both bit life and hammer performance.
									Proper rotation is essential for long hammerand bit life. some common elements involving
									rotation speed are:
								</p>
								
								<h4>Bit life:</h4>
									
									
								<ol>
									<li>
									Rotation Too Slow - The main purpose of rotating a down hole hammer
									and bit is to index the carbide button inserts to fresh rock on every impact If
									the rotation is too slow the buttons may tend to bury themselves and this will
									result in an erratic rotation. Slow rotation can also result in the recrushing of
									the rock. also known as regrinding, which results in a rapid carbide wear.

									</li>
									<li>
										Rotation Too Fast - increasing the rotation speed will not necessarily
										increase the penetration rate. It will usually in rapid gage carbide wear due
										to the high scraping forces ratherthan a crushing force.
									</li>
								</ol>

								
								<h2 style="padding:20px 20px 20px 0px">Hammer Performance</h2>
								<p>Please consider these tips for the optimum performance of the hammer:
								</p>
								
								<ol>
									<li>Turning in clockwise direction keepsthe tooljoints tight.</li>
									<li>Rotation indexes the carbide buttons to fracture fresh rock with each impact.
										</li>
								</ol>
								
									<p class="bodyPara">Note: Reverse rotation and impact without rotation may cause too joints to become loose.
										Loose joints may cause drilling equipment to break free and be lost down the hole.
									</p>
									
									<p>An operate must learn to have a feel for ﬁnding the proper rotation speed that will
										delivers optimum penetration rate without sacriﬁcing bit ﬁle. As a starting point an operator
										can use the following:</p>
										
									<p class="bodyPara">R.P.M = 1/2 Penetration rate per hour in feet</p>
									<p class="bodyPara">R.P.M = 1.6 X Penetration rate per hour in Meters</p>
									
									<p class="bodyPara">As an example, if the average penetration rate is 60 feet (18.3 m) per hour. the
										revolutions per minute should be around 30 (29.3).</p>
									
									<p>Note: This is just a guideline. Many factors need to be taken into account for proper
										rotation speed uch as ground conditions, formation hardness, abrasiveness. etc.</p>
										
									
									<h3>ROTATION TORQUE REQUIREMENTS CLASSIFIED BY BIT SIZE</h3>
									<br></br>
									<table class="table">
									  <thead>
									    <tr>
									      <th scope="col">#</th>
									      <th scope="col">Bit Size</th>
									      <th scope="col">Torque Required at Operating RPM</th>
									    </tr>
									  </thead>
									  <tbody>
									    <tr>
									      <th scope="row">1</th>
									      <td>4"	(102 mm) Class</td>
									      <td>500 ft. lbs.	(69 KGM)</td>
									      
									    </tr>
									    <tr>
									      <th scope="row">2</th>
									      <td>5"	(127 mm) Class</td>
									      <td>650 ft. lbs.	(90 KGM)</td>
									       
									    </tr>
									    <tr>
									      <th scope="row">3</th>
									      <td>6"	(152 mm) Class</td>
									      <td>800 ft. lbs. (111 KGM)</td>
									       
									    </tr><tr>
									      <th scope="row">4</th>
									      <td>8"  (203 mm) Class </td>
									      <td>1,500 ft. lbs. (207 KGM)</td>
									       
									    </tr><tr>
									      <th scope="row">5</th>
									      <td>1O" (254 mm) Class </td>
									      <td>2,000 ft. lbs. (277 KGM)</td>
									       
									    </tr><tr>
									      <th scope="row">6</th>
									      <td>12" (305 mm) Class</td>
									      <td>5,000 ft. lbs. (691 KGM)</td>
									       
									    </tr><tr>
									      <th scope="row">7</th>
									      <td>20"	(508 mm) Class</td>
									      <td>8,000 ft. lbs.(1106 KGM)</td>
									       
									    </tr><tr>
									      <th scope="row">8</th>
									      <td>22"	(559 mm) Class</td>
									      <td>10,000 ft. lbs. (1386 KGM)</td>
									    </tr><tr>
									      <th scope="row">9</th>
									      <td>24"	(610 mm) Class</td>
									      <td>12,000 ft. lbs. (1659 KGM)</td>
									    </tr><tr>
									      <th scope="row">10</th>
									      <td>30"	(762 mm) Class</td>
									      <td>20,000 ft. lbs. (2765 KGM)</td>
									    </tr><tr>
									      <th scope="row">11</th>
									      <td>36"	(914 mm) Class</td>
									      <td>28,000 ft. lbs. (3871 KGM)</td>
									    </tr><tr>
									      <th scope="row">12</th>
									      <td>43" (1092 mm) Class</td>
									      <td>40,700 ft. lbs. (5629 KGM)</td>
									    </tr><tr>
									      <th scope="row">13</th>
									      <td>48" (1219 mm) Class</td>
									      <td>50,688 ft. lbs. (7011 KGM)</td>
									    </tr><tr>
									      <th scope="row">14</th>
									      <td>54" (1372 mm) Class</td>
									      <td>64,152 ft. lbs. (8873 KGM)</td>
									    </tr><tr>
									      <th scope="row">15</th>
									      <td>60" (1524 mm) Class</td>
									      <td>79,200 ft. lbs.(10,954 KGM)</td>
									       
									    </tr>
									  </tbody>
									</table>
									
									<p>Note:The above figures are estimated at operating RPM.bit sizes	from 4" through 12" (102-305 mm) diameter may require a stall torque factor of three or four times the normal operating range. Bit sizes above 12" (305 mm) in diameter may require a stall torque of
										one and one half totwo times the normal operating range.</p>
								
							
						           
								</div>
								</div>
								
								
						<% include sidebar %>
					</div>
				</div>	
			</section>
			<!-- End blog-posts Area -->
			
			
				
			<!-- start footer Area -->		
			<% include footer%>
			<!-- End footer Area -->	

			<script src="js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="js/vendor/bootstrap.min.js"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="js/easing.min.js"></script>			
			<script src="js/hoverIntent.js"></script>
			<script src="js/superfish.min.js"></script>	
			<script src="js/jquery.ajaxchimp.min.js"></script>
			<script src="js/jquery.magnific-popup.min.js"></script>	
			<script src="js/owl.carousel.min.js"></script>	
			<script src="js/hexagons.min.js"></script>							
			<script src="js/jquery.nice-select.min.js"></script>	
			<script src="js/jquery.counterup.min.js"></script>
			<script src="js/waypoints.min.js"></script>							
			<script src="js/mail-script.js"></script>	
			<script src="js/main.js"></script>	
		</body>
	</html>



