	<div class="col-lg-4 sidebar">
								<div class="single-widget search-widget">
									<form class="example" action="#" style="margin:auto;max-width:300px">
									  <input type="text" placeholder="Search Posts" name="search2">
									  <button type="submit"><i class="fa fa-search"></i></button>
									</form>								
								</div>

								<div class="single-widget protfolio-widget">
									<img src="img/blog/user2replacement2.jpeg" alt="">
									<a href="#"><h4>Information Area ></h4></a>
									<p>
										Get all relevant information regarding your product by browsing the articles below:
									</p>								
								</div>


	                            <div class="single-widget recent-posts-widget">
	                                <h4 class="title">Recent Posts</h4>
	                                <div class="blog-list ">
	                                    <div class="single-recent-post d-flex flex-row">
	                                        <div class="recent-thumb">
	                                            <img class="img-fluid" src="img/blog/r1.jpg" alt="">
	                                        </div>
	                                        <div class="recent-details">
	                                            <a href="/effectUnderWaterTemperatureAltitude">
	                                                <h4>
	                                                    Effect of temperature and altitude, operating under water
	                                                </h4>
	                                            </a>
	                                            <p>
	                                                02 hours ago
	                                            </p>
	                                        </div>
	                                    </div>  
	                                    <div class="single-recent-post d-flex flex-row">
	                                        <div class="recent-thumb">
	                                            <img class="img-fluid" src="img/blog/r2.jpg" alt="">
	                                        </div>
	                                        <div class="recent-details">
	                                            <a href="/hammerStorage">
	                                                <h4>
	                                                    Hammer Storage for optimum functionality
	                                                </h4>
	                                            </a>
	                                            <p>
	                                                02 hours ago
	                                            </p>
	                                        </div>
	                                    </div>  
	                                    <div class="single-recent-post d-flex flex-row">
	                                        <div class="recent-thumb">
	                                            <img class="img-fluid" src="img/blog/r3.jpg" alt="">
	                                        </div>
	                                        <div class="recent-details">
	                                            <a href="/drillingWithFoamAndPolymers">
	                                                <h4>
	                                                    Drilling with foams and polymers
	                                                </h4>
	                                            </a>
	                                            <p>
	                                                02 hours ago
	                                            </p>
	                                        </div>
	                                    </div>
	                                    <div class="single-recent-post d-flex flex-row">
	                                        <div class="recent-thumb">
	                                            <img class="img-fluid" src="img/blog/r3.jpg" alt="">
	                                        </div>
	                                        <div class="recent-details">
	                                            <a href="/totalWeightOnBitOrFeedPressure">
	                                                <h4>
	                                                    Total Weight on Bit / Feed Pressure
	                                                </h4>
	                                            </a>
	                                            <p>
	                                                02 hours ago
	                                            </p>
	                                        </div>
	                                    </div>  
	                                    <div class="single-recent-post d-flex flex-row">
	                                        <div class="recent-thumb">
	                                            <img class="img-fluid" src="img/blog/r5.jpg" alt="">
	                                        </div>
	                                        <div class="recent-details">
	                                            <a href="/rotationSpeed">
	                                                <h4>
	                                                    Rotation Speed and rotation torque table
	                                                </h4>
	                                            </a>
	                                            <p>
	                                                02 hours ago
	                                            </p>
	                                        </div>
	                                    </div>                                                                                                                                                  
	                                </div>                              
	                            </div>
	

							</div>