	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/newLogo.png">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Total Weight on Bit / Feed Pressure</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="css/linearicons.css">
			<link rel="stylesheet" href="css/font-awesome.min.css">
			<link rel="stylesheet" href="css/bootstrap.css">
			<link rel="stylesheet" href="css/magnific-popup.css">
			<link rel="stylesheet" href="css/nice-select.css">	
			<link rel="stylesheet" href="css/hexagons.min.css">							
			<link rel="stylesheet" href="css/animate.min.css">
			<link rel="stylesheet" href="css/owl.carousel.css">
			<link rel="stylesheet" href="css/main.css">
			<link rel="stylesheet" href="css/custom_css/content_page.css">
		</head>
		<body>	
			  <% include header%>
			  <!-- #header -->

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								DTH Drilling Information
							</h1>	
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start blog-posts Area -->
			<section class="blog-posts-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 post-list blog-post-list">
							<div class="single-post">
								<!--<img class="img-fluid" src="img/products/DTHDrilling/dth_intro2.jpg" alt="">-->
								
								<a href="#">
									<h1>
										Total Weight on Bit / Feed Pressure
									</h1>
								</a>
								
								<p>Due to the short rapid blows of the piston in a down hole hammer,
									the need for high amounts of weight on the bit has been eliminated. A
									down hole hammer needs only sufficient weight to keep the bit tight on
									the bottom.
									</p>
									
								<p>The N-120 hammers are often said to have different operating characteristics than other competitive hammers. This is primarily due to the following:</p>
									
								<ol>
									<li>Heavy piston weight</li>
									<li>Longer and less frequent strokes</li>
									<li>Higher kinetic energy developed</li>
								</ol>

								
								<p>When a down hole hammer will be stored for only a short period
									of time, the following steps should be take:Due to these characteristics, total weight on bit may have to be increased eliminate Drill string bounce. Drill string bounce can be noticed at the surface when drilling shallow holes. However, on deep holes the weight on bit may need to be calculated to ﬁnd the correct amount of weight.
								</p>
								
								<p>Remember that the hydraulic pressure indicated on the gauge is not the actual weight on the bit in pounds (kgs). Actual weight on will vary from rig to rig depending on the diameter of the hydraulic cylinders and the weight of the drill string. It may be necessary on deep holes to use hold back to maintain proper weight on bit. This depends upon the weight of the drill string</p>

								<p>Drilling conditions can vary on every hole. Adding more weight or feed pressure does not increase the penetration rate. Drilling Wlth excessive weight on bit can only decrease bit life and increase the torclue loading on the drill string.</p>								
								<p>Although drilling with too much weight is detrimental drilling With insufﬁcient waight on bit is equally as detrimental. The common terms used for insuﬂicient weight on bit are:</p>								
	
								<p class="bodyPara">“RUNNING LOOSE” or “DRILLING LIGHT”</p>
								
								<p>Drilling under these conditions can generate several operational problems such as:</p>
	
								<ol>
									<li>Carbide Pop Out — When the piston strikes the bit without the being tight against the bottom of the hole, inertia can force the buttons to pop out of the sockets.</li>
									<li>Bit Shank Failure — If the bit is not held ﬁrmly against the bottom of the hole excessive longitudinal movement between the bit splines and the chuck splines can generate extreme temperatures. This can cause a transfer of metal between the bit and chuck commonly known as cold welding. Once heat damage has occurred failure is inevitable.</li>
									<li>Residual Stress Failures — If the hammer is not held ﬁrm against the formation, the energy generated by the piston can be transmitted correctly and a large portion will remain in the piston. These energy vibrations can initiate failures in many different ways including piston, feed tube and/or top head drive failures.</li>
								</ol>
								
							
								</div>
								</div>
								
								
						<% include sidebar %>
					</div>
				</div>	
			</section>
			<!-- End blog-posts Area -->
			
			
				
			<!-- start footer Area -->		
			<% include footer%>
			<!-- End footer Area -->	

			<script src="js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="js/vendor/bootstrap.min.js"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="js/easing.min.js"></script>			
			<script src="js/hoverIntent.js"></script>
			<script src="js/superfish.min.js"></script>	
			<script src="js/jquery.ajaxchimp.min.js"></script>
			<script src="js/jquery.magnific-popup.min.js"></script>	
			<script src="js/owl.carousel.min.js"></script>	
			<script src="js/hexagons.min.js"></script>							
			<script src="js/jquery.nice-select.min.js"></script>	
			<script src="js/jquery.counterup.min.js"></script>
			<script src="js/waypoints.min.js"></script>							
			<script src="js/mail-script.js"></script>	
			<script src="js/main.js"></script>	
		</body>
	</html>



